<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>친구 - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.frame.css">
        <link rel="stylesheet" href="/common.comp.css">
        <link rel="stylesheet" href="/friends/friends.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/graphics/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/graphics/profimg" width="30" height="30">  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/auth/signout">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div id="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink grayLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="top">
                <h1 id="title">친구</h1>
            </div>
            <div class="main">
                <div class="toolbar toolbarParent">
                    <div class="toolbar toolbar1">
                        <div class="toolItem grayLink" id="refresh"><img src="/graphics/toolbars/refresh.png" width="20" height="20"></div>|<!-
                        ><div class="toolItem grayLink" id="upload"><img src="/graphics/toolbars/add.png" width="20" height="20"></div>|<!-
                        ><div class="toolItem grayLink" id="rename"><img src="/graphics/toolbars/rename.png" width="20" height="20"></div>|<!-
                        ><div class="toolItem grayLink" id="delete"><img src="/graphics/toolbars/delete.png" width="20" height="20"></div>
                    </div>
                    <div class="toolbar" id="tlbSort">
                        <div class="toolItem grayLink colLink" id="colName" data-set="1">이름순</div>|<!-
                        ><div class="toolItem grayLink colLink" id="colAdded">추가순</div>
                    </div>
                </div>
                <p id="itemCount" data-countitem="{{countItem}}" data-itemcnt="0"></p>
                <div id="list">
                    <div class="grayLink" data-show="true" id="loadMore" data-timestamp="2000-01-01T00:00:00.000Z" data-id="0">
                        <input type="checkbox" style="display:none">추가 로드
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="friends.js"></script>
    </body>
</html>