<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ComphyCat Reminder Online</title>
        <link rel="stylesheet" href="/common.frame.css">
        <link rel="stylesheet" href="/common.comp.css">
        <link rel="stylesheet" href="/index.css">
    </head>

    <body>
        <div id="messageDiv" style="display:none">{{ message }}</div>
        <script src="/failed.js" type="module"></script>
    </body>
</html>