<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset-"UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ComphyCat Reminder Online</title>
    </head>

    <body>
        <h1>
            <a href="/">
                <img src="aam_online.png" alt="ComphyCat Reminder Online" width="407" height="48">
            </a>
        </h1>
        <p>
            오늘의 문장: {{ message }} <br>
            감사합니다.
        </p>
    </body>
</html>