*{
    box-sizing: border-box;
}
.blackLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink:hover{
    color: blue;
}
.addrLink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.addrLink:hover{
    color: yellow;
}
.beigeLink:hover{
    background-color: beige;
    cursor: pointer;
}
.grayLink{
    cursor: pointer;
}
.grayLink:hover{
    background-color: lightgray;
}
#messageBox{
    background-color: beige;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: fixed;
    width: calc(100% - 100px);
    left: 80px;
    bottom: 0px;
    height: fit-content;
    z-index: 92;
}
#messageBox[data-show="true"]{
    display: block;
}
#popup{
    position: fixed;
    display: none;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    left: 40px;
    top: 30px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    overflow-y: scroll;
    z-index: 91;
}