*{
    box-sizing: border-box;
}
.heading{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    left: 0px;
    width: 100%;
    top: 0px;
    padding: 15px;
    margin: 0px;
    z-index: 90;
}
.logo{
    width: 407px;
    height: 48px;
    display: inline;
}
.frame{
    position: absolute;
    top: 78px;
    left: 0px;
    right: 0px;
    height: calc(100% - 78px);
}
.user{
    right: 15px;
    display: inline;
    position: absolute;
    padding: 15px;
}
.side{
    width: 60px;
    height: calc(100% - 78px);
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: beige;
    font-size: small;
    text-align: center;
}
.sideItem{
    padding: 10px 0px;
}
.sideItemSel{
    background-color: lightgray;
    padding: 10px 0px;
}
.top{
    left: 60px;
    width: calc(100% - 60px);
    background-color: gray;
    color: white;
    position: relative;
}
.blackLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink:hover{
    color: blue;
}
.addrLink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.addrLink:hover{
    color: yellow;
}
.beigeLink:hover{
    background-color: beige;
    cursor: pointer;
}
.grayLink:hover{
    background-color: lightgray;
}
#messageBox{
    background-color: beige;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: fixed;
    width: calc(100% - 100px);
    left: 80px;
    bottom: 0px;
    height: fit-content;
    z-index: 92;
}
#messageBox[data-show="true"]{
    display: block;
}
#popup{
    position: fixed;
    display: none;
    width: calc(100% - 50px);
    height: calc(100% - 40px);
    left: 25px;
    top: 20px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    z-index: 91;
}