*{
    box-sizing: border-box;
}
.heading{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    left: 0px;
    width: 100%;
    top: 0px;
    padding: 15px;
    margin: 0px;
    z-index: 100;
}
.logo{
    width: 407px;
    height: 48px;
    display: inline;
}
.frame{
    position: absolute;
    top: 78px;
    left: 0px;
    right: 0px;
    height: calc(100% - 78px);
}
.blackLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blueLink:hover{
    color: blue;
}
.addrLink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.addrLink:hover{
    color: yellow;
}
.beigeLink:hover{
    background-color: beige;
    cursor: pointer;
}
.grayLink:hover{
    background-color: lightgray;
}
#messageBox{
    background-color: beige;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: fixed;
    width: calc(100% - 100px);
    left: 80px;
    top: calc(100% - 100px);
    height: 100px;
}
#messageBox[data-show="true"]{
    display: block;
}