*{
    box-sizing: border-box;
}
.heading{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    left: 0px;
    width: 100%;
    top: 0px;
    padding: 15px;
    margin: 0px;
    z-index: 100;
}
.logo{
    width: 407px;
    height: 48px;
    display: inline;
}
.frame{
    position: absolute;
    top: 78px;
    left: 0px;
    right: 0px;
    height: calc(100% - 78px);
}
.blackLink{
    text-decoration: none;
    color: black;
}
.blueLink{
    text-decoration: none;
    color: black;
}
.blueLink:hover{
    color: blue;
}
.addrLink{
    text-decoration: none;
    color: white;
}
.addrLink:hover{
    color: yellow;
}
.beigeLink:hover{
    background-color: beige;
}
.grayLink:hover{
    background-color: gray;
}