#frame{
    flex-wrap: wrap-reverse;
    display: flex;
    width: 100%;
}
.body{
    padding: 15px;
    left: 0px;
    right: 0px;
    flex: 7 1 min-content;
    background-color: beige;
    font-size: 30px;
    word-break: keep-all;
}
#signpane {
    padding: 15px;
    flex: 1 1 fit-content;
    background-color: beige;
}
.grayText{
    font-size: small;
    color: gray;
}
#popup{
    padding: 15px;
}
#signup_msg{
    color: red;
}
