.user{
    right: 15px;
    display: inline;
    position: absolute;
    padding: 15px;
}
.frame{
    width: calc(100% - 60px);
}
.side{
    width: 60px;
    height: calc(100% - 78px);
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: beige;
    font-size: small;
    text-align: center;
}
.sideItem{
    padding: 10px 0px;
}
.sideItemSel{
    background-color: lightgray;
    padding: 10px 0px;
}