.top{
    background-color: gray;
    color: white;
    padding: 25px;
    position: relative;
    left: 60px;
    width: calc(100% - 60px);
}
.body{
    display: inline-flex;
    flex-wrap: wrap;
    left: 60px;
    width: calc(100% - 60px);
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(175, 238, 238, 0.618);
    flex: 1 0 auto;
}
.contentName{
    margin: 0px;
    text-decoration: none;
    color: black;
}
.contentName:hover{
    color: blue;
}
.list{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.listContentA{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: lightgray;
}
.listContentB{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
}