.top{
    padding: 25px;
}
.body{
    display: inline-flex;
    flex-wrap: wrap;
    left: 60px;
    width: calc(100% - 60px);
    position: relative;
}
.content{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: min-content;
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(175, 238, 238, 0.618);
    flex: 1 0 auto;
}
.contentName{
    margin: 0px;
}
.list{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
}
.listContent{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
.listContentA{
    width: 100%;
    padding: 5px;
    background-color: lightgray;
}
.listContentB{
    width: 100%;
    padding: 5px;
    background-color: white;
}
.putlink{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}