.top{
    background-color: gray;
    color: white;
    padding: 15px 45px;
    position: relative;
    left: 60px;
    width: 100%;
}
.title{
    display: inline;
    padding: 0px;
}
.main{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    left: 60px;
    width: calc(100% - 60px);
    position: relative;
    padding: 15px;
}
.toolbar{
    margin: 15px 40px;
    padding: 2px;
    position: sticky;
    top: 82px;
    z-index: 10;
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    background-color: white;
}
.toolItem{
    margin: 2px;
    display: inline;
    cursor: pointer;
}
.toolItem:hover{
    background-color: beige;
}
#newItemCount{
    color: gray;
    margin-left: 40px;
}
.list{
    margin: 10px;
    padding: 10px;
}
.listItem{
    margin: 10px;
    padding: 10px;
    cursor: default;
}
.listItem[data-unread="true"]{
    border-left: 3px solid blue;
}
.listItem:hover{
    background-color: lightgray;
}
.listItemChk{
    color: gray;
    display: inline;
}
#loadMore{
    text-align: center;
    cursor: pointer;
}
#loadMore[data-show="false"]{
    display: none;
}
#messageBox{
    background-color: beige;
    border-style: solid;
    border-width: 1px;
    display: none;
    position: fixed;
    width: calc(100% - 100px);
    left: 80px;
    top: calc(100% - 100px);
    height: 100px;
}
#messageBox[data-show="true"]{
    display: block;
}