.top{
    background-color: gray;
    color: white;
    padding: 15px 45px;
    position: relative;
    left: 60px;
    width: 100%;
}
.title{
    display: inline;
    padding: 0px;
}
.toolbar{
    background-color: white;
    display: inline;
    position: absolute;
    right: 0px;
    width: 20px;
    height: 10px;
    color: black;
    margin: 15px;
}
.main{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    left: 60px;
    width: calc(100% - 60px);
    position: relative;
    padding: 15px;
}
.toolbar{
    margin: 15px 40px;
    padding: 2px;
    position: sticky;
    top: 82px;
    z-index: 10;
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    background-color: white;
}
.toolItem{
    margin: 2px;
    display: inline;
    cursor: pointer;
}
.toolItem:hover{
    background-color: beige;
}
#itemCount{
    color: gray;
    margin-left: 40px;
}
#itemCount[data-countitem="false"]{
    display: none;
}
.list{
    margin: 10px;
    padding: 10px;
}
.listItem{
    margin: 10px;
    padding: 10px;
    cursor: default;
}
.listItem[data-unread="true"]{
    border-left: 3px solid blue;
}
.listItem:hover{
    background-color: lightgray;
}
.listItemChk{
    color: gray;
    display: inline;
}
#loadMore{
    text-align: center;
    cursor: pointer;
}
#loadMore[data-show="false"]{
    display: none;
}