.top{
    background-color: gray;
    color: white;
    padding: 15px 45px;
    position: relative;
    left: 60px;
    width: 100%;
}
.title{
    display: inline;
    padding: 0px;
}
.toolbar{
    background-color: white;
    display: inline;
    position: absolute;
    right: 0px;
    width: 20px;
    height: 10px;
    color: black;
    margin: 15px;
}
.addrLink{
    text-decoration: none;
    color: white;
}
.addrLink:hover{
    color: yellow;
}
.main{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    left: 60px;
    width: calc(100% - 60px);
    position: relative;
    padding: 15px;
}
.listHr{
    background-color: lightgray;
    width: 100%;
    height: 1px;
}
.listItem{
    box-sizing: border-box;

}
.content{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(175, 238, 238, 0.618);
    flex: 1 0 auto;
}
.contentName{
    margin: 0px;
    text-decoration: none;
    color: black;
}
.contentName:hover{
    color: blue;
}
.list{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.listContentA{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: lightgray;
}
.listContentB{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
}
